* {
  font-family: Inter;
  box-sizing: border-box;
}

:root {
    --off-black: #292929;
    --round-border: 24px;
    --page-spacing: 12px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: var(--page-spacing);
    right: var(--page-spacing);
    bottom: var(--page-spacing);
    border-radius: var(--round-border);
    background-color: var(--off-black);
    border: 2px solid var(--off-black);
}

.navbar button {
    width: 34%;
    padding: 12px;
    font-size: 24px;
    font-weight: bold;
    border-radius: var(--round-border);
    border: none;
}

.navbar button:not(.selected):hover {
    background-color: gray; 
}

.navbar button:not(.selected) {
    color: white;
    background-color: transparent;
}

.today-header {
    background-color: var(--off-black);
    padding: 12px;
    font-weight: bold;
    border-radius: 18px;
    border: none;
    color: white
}

.button-black {
    background-color: var(--off-black);
    color: white;
    padding: 12px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 18px;
    border: none;    
}

label {
    color: gray;
    font-size: 12px;
}

button {
    padding: 12px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 18px;
    border: none;    
}

button:hover {
    background-color: var(--off-white);     
    background-color: lightgray;
}