:root {
    --off-black: #292929;
    --off-white: #afafaf;
    --off-white2: rgb(248, 248, 248);
    --round-border: 22px;
    --round-small: 6px;
    --page-spacing: 18px;
}

* {
    font-family: Inter;
    box-sizing: border-box;
}

#root {
    position: absolute;
    inset: 0;
    padding: var(--page-spacing);
}

/* General styles */

h1 {
    font-size: 48px;
    color: white;
    margin: 0;
}

h3 {
    margin: 0 0 36px;
}

label {
    color: gray;
}

input, textarea:not(#estimate) {
    border: 1px solid black;
    border-radius: var(--round-small);
    margin: 6px 0 12px;
}

button {
    padding: 12px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 18px;
    border: none;    
}

button:hover {
    background-color: var(--off-white);     
    background-color: lightgray;
}

/* Class styles */

.navbar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: var(--page-spacing);
    right: var(--page-spacing);
    bottom: var(--page-spacing);
    border-radius: var(--round-border);
    background-color: var(--off-black);
    border: 2px solid var(--off-black);
    margin: 0 12px;
}

.navbar button {
    width: 34%;
    padding: 12px;
    font-size: 24px;
    font-weight: bold;
    border-radius: var(--round-border);
    border: none;
}

.navbar button:not(.selected):hover {
    background-color: gray; 
}

.navbar button:not(.selected) {
    color: white;
    background-color: transparent;
}

.button-black {
    background-color: var(--off-black);
    color: white;
    padding: 12px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 18px;
    border: none;    
}

.dark-header {
    background-color: var(--off-black);
    padding: 24px;
    margin-bottom: var(--page-spacing);
    font-weight: bold;
    border-radius: 18px;
    border: none;
    color: white
}

.dark-bg {
    position: fixed;
    inset: 0;
    z-index: -2;
    height: 100%;
    padding: var(--page-spacing);
    background-color: var(--off-black);
}

.page-intro {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 2;
}

.page-register {
    z-index: 2;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 18px;
    padding: 36px;
}

.page-register button {
    cursor: pointer;
}

.page-register input {
    padding: 12px;
    border-radius: 24px;
    margin: 0 0 12px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-size: 16px;
}

.passtext {
    font-size: 16px !important;
    margin-bottom: 48px;
}

.title-logo {
    height: 120px;
    margin: 0 48px;
    object-fit: cover;
}

.intro-click {
    position: absolute;
    bottom: 10%;
    color: white;
}

/* Feed Page */

.feed-header {
    margin-bottom: var(--page-spacing);
    display: flex;
    justify-content: space-between;
}

.feed-header * {
    cursor: pointer;
    height: 40px;
}

.feed-task {
    padding: var(--page-spacing);
    border-radius: var(--round-border);
    margin-bottom: var(--page-spacing);
    background-color: white;
}

.feed-text {
    font-size: 24px;
    margin: 0;
}

.feed-info {
    display: flex;
    justify-content: space-between;
    color: #848484;
    margin-top: 12px;
}

.feed-info p {
    margin: 8px 0 0;
    text-align: end;
}

.feed-buttons button {
    background-color: transparent;
    padding: 4px;
    margin-left: 12px;
}

.feed-buttons button img {
    height: 24px;
    object-fit: cover;
}

.p1, .p2, .p3 {
    border-radius: var(--round-border);
    padding: 10px;
    border-style: solid;
    margin-bottom: var(--page-spacing);
}

.p1 {
    border-color: red;
}

.p2 {
    border-color: orange;
}

.p3 {
    border-color: yellow;
}

.priority:hover {
    background-color: var(--off-white2);
}

.clicked-priority {
    background-color: var(--off-white2);
}

/* Add Page */

.add-task {
    width: 100%;
    background-color: var(--off-black);
    border: 2px solid var(--off-black);
    color: white;
    cursor: pointer;
}

.add-task:hover {
    background-color: gray;
}

.page-all {
    z-index: 0;
}

.disable-div {
    position: fixed;
    inset: 0;
    z-index: 10;
    background-color: var(--off-black);
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

.window-create {
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 12px;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: var(--round-border);
    border: 3px solid black;
    background-color: white;
    font-size: 16px;
}

.window-create button {
    background-color: transparent;
    width: 60%;
    margin: 0 auto;
    padding: 4px 12px;
    border: 2px solid black;
    cursor: pointer;
}

.window-create button:hover {
    background-color: lightgray;
}

.estimate-box {
    display: flex;
    align-items: flex-end;
    gap: 12px;
    margin-bottom: 12px;
}

.estimate-box textarea {
    border: 1px solid black;
    border-radius: var(--round-small);
    margin-top: 6px;
}

#date {
    padding: 8px;
}