:root {
    --off-black: #292929;
    --off-white: #c2c2c2;
    --round-border: 18px;
    --page-spacing: 12px;
}

* {
    font-family: Inter;
    box-sizing: border-box;
}

#root {
    position: absolute;
    inset: 0;
    padding: var(--page-spacing);
}

/* General styles */

label {
    color: gray;
    font-size: 12px;
}

button {
    padding: 12px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 18px;
    border: none;    
}

button:hover {
    background-color: var(--off-white);     
    background-color: lightgray;
}

/* Class styles */

.navbar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: var(--page-spacing);
    right: var(--page-spacing);
    bottom: var(--page-spacing);
    border-radius: var(--round-border);
    background-color: var(--off-black);
    border: 2px solid var(--off-black);
}

.navbar button {
    width: 34%;
    padding: 12px;
    font-size: 24px;
    font-weight: bold;
    border-radius: var(--round-border);
    border: none;
}

.navbar button:not(.selected):hover {
    background-color: gray; 
}

.navbar button:not(.selected) {
    color: white;
    background-color: transparent;
}

.button-black {
    background-color: var(--off-black);
    color: white;
    padding: 12px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 18px;
    border: none;    
}

.dark-header {
    background-color: var(--off-black);
    padding: 12px;
    font-weight: bold;
    border-radius: 18px;
    border: none;
    color: white
}

.dark-bg {
    position: absolute;
    inset: 0;
    background-color: var(--off-black);
}

.page-today {

}

.page-feed {
    background-color: var(--off-black);
}